<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav th:fragment="footer" class="navbar navbar-expand-md navbar-dark" style="background-color:#F48B29">
    <div class="container-fluid" id="footer">
        <ul class="nav">
            <li class="nav-item1 px-2 pb-2">
                <a class="nav-link1 active text-dark" th:href="@{index}" >Home</a>
            </li>
            <li class="nav-item1 px-2 pb-2 ">
                <a class="nav-link1 text-dark" th:href="@{aboutus}">About Us</a>
            </li>
            <li class="nav-item1 px-2 pb-2 ">
                <a class="nav-link1 text-dark" th:href="@{products}">Shop</a>
            </li>
            <div sec:authorize="isAuthenticated()">
                <li class="nav-item1 px-2 pb-2 ">
                    <a class="nav-link1 text-dark"  th:href="@{productform}">Add Product</a>
                </li>
            </div>
            <div sec:authorize="isAuthenticated()">
                <form id="logOut" th:action="@{/logout}" method="post">
                    <li class="nav-item1 px-2 pb-2"><a class="nav-link1 text-dark"
                                                       onclick="document.getElementById('logOut').submit();">LogOut
                    </a></li>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <li class="nav-item1 px-2 pb-2 ">
                    <a class="nav-link1 text-dark" th:href="@{login}">Log In</a>
                </li>
            </div>
        </ul>

        <div class="socialplatform">
            <a href="#" class="nav-btn btn-light btn"><i class="bi bi-facebook text-dark p-1"></i></a>
            <a href="#" class="nav-btn btn-light btn"><i class="bi bi-twitter text-dark p-1"></i></a>
            <a href="#" class="nav-btn btn-light btn"><i class="bi bi-instagram text-dark p-1"></i></a>
            <p class="navbar-text pt-2" style="color: black;">&copy; Mac & Cheese 2022</p>
        </div>

    </div>
</nav>
</body>
</html>