<<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color:#F48B29">
    <div class="container">
        <div class="navbar-brand">
            <img src="images/logo.png" alt="logo" width="100px" height="60px" >
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-3 mb-0 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{index}" style="color: #AC0D0D;"><span class="h2 px-3">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{aboutus}"><span class="h2 px-3" style="color: #AC0D0D;">About Us</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{products}"><span class="h2 px-3" style="color: #AC0D0D;">Shop</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{login}"><span class="h2 px-3" style="color: #AC0D0D;">Log In</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>