<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color:#F48B29">
    <div class="container">
        <div class="navbar-brand">
            <a th:href="@{index}"><img src="images/logo.png" alt="logo" width="100px" height="60px" ></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{index}" style="color: #AC0D0D;"><span class="h2 px-1">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{aboutus}"><span class="h2 px-1" style="color: #AC0D0D;">About Us</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{products}"><span class="h2 px-1" style="color: #AC0D0D;">Shop</span></a>
                </li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{productform}"><span class="h2 px-1" style="color: #AC0D0D;">Add Product</span></a>
                    </li>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form class="nav-item" id="logOut" th:action="@{/logout}" method="post">
                        <li><a class="nav-link" onclick="document.getElementById('logOut').submit();"><span class="h2 px-1" style="color: #AC0D0D;">LogOut</span></a></li>
                    </form>
                </div>
                <div sec:authorize="isAnonymous()">
                    <li class="nav-item"><a class="nav-link" th:href="@{login}"><span class="h2 px-1" style="color: #AC0D0D;">Log In</span></a></li>
                </div>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>