
body {
  background-color: #F0C929;

}

.jumbotron {
  background-color: #FBE6C2;
  max-width: 100%;
  margin-top: 80px;
  text-align: center;
  }

.jumbotron h2 {
  font-size: 50px;
  text-align: center;
  }

.header h2 span {
  color:#ffc200;
  }

.banner {
  background-color: #F0C929;
  color: black;
  text-align: center;
  padding-top: 20px;
  }

.cover-photo {
padding-left: 180px;
padding-right: 180px;
padding-top: 20px;
height:auto;
width: auto;
}

.best{
  padding-top: 10px;
  padding-bottom: 10px;
  }
.carousel-inner{
 display: flex;
 height: auto;
 width: auto;
 padding-left: 280px;
 padding-right: 280px;
 padding-top: 20px;
 padding-bottom: 20px;

}
.carousel-caption {
  margin:0;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  height:auto;
  width: auto;
}
.carousel-indicators{
  height:auto;
  width: auto;
  padding-left: 280px;
  padding-right: 280px;
  max-width: 700px;
}


@media only screen and (max-width:800px) {

  body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
     .carousel-caption{

     }
     .carousel-indicators{

     }
     .carousel-inner{
     width: 100%;
     max-width: 700px;
     }

    .container-fluid{
      margin-top: auto;

    }

     .banner h2{
       font-size: 20px;

     }
 }



