
body {
  background-color: #F0C929;
}

.carousel-caption {
         margin:0;
         background-repeat: no-repeat;
         background-size: cover;
         color:white;
         height:auto;
         width: auto;
     }
.carousel-indicators{
         height:auto;
         width: auto;
         padding-left: 280px;
 padding-right: 280px;
}

.cover-photo {
padding-left: 180px;
padding-right: 180px;
padding-top: 20px;
height:auto;
width: auto;

}
.best{
padding-top: 10px;
padding-bottom: 10px;
}
.jumbotron {
background-color: #FBE6C2;
max-width: 100%;
margin-top: 60px;
text-align: center;
}

.jumbotron h2 {
font-size: 50px;
text-align: center;
}

.jumbotron h2 span {
color:#ffc200;
}
.banner {
background-color: #F0C929;
color: black;
text-align: center;
padding-top: 20px;


}
.carousel-inner{
 display: flex;
 height: auto;
 width: auto;
 padding-left: 280px;
 padding-right: 280px;
 padding-top: 20px;
 padding-bottom: 20px;

}
.section3{
 background-color: #F0C929;
}

@media screen and (max-width: 768px) {


     .banner h2{
       font-size: 20px;

     }
 }



